body {
    background-color: #FAFCFE;
    padding: 50px 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h6 {
    font-size: 24px;
    font-weight: 400;
}

header img {
    width: 126px;
    height: 26px;
}

main {
    display: inline-block;
    text-align: center;
}

.text-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 306px;
    padding-bottom: 383px;
    gap: 40px;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.text-error h1 {
    font-size: 96px;
    font-weight: 400;
}

span {
    font-size: 96px;
    font-weight: 400;
}

.text-error p {
    font-size: 24px;
    font-weight: 400;
}

.text-error button {
    padding: 6px 62.5px 6px;
    border: 2px solid #15181B;
    border-radius: 8px;
    background-color: transparent;
}

.text-error a{
    color: #15181B;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 834px) {
    .title {
        flex-direction: column;
        gap: 0px;
    }

    .text-error {
        padding-top: 248.5px;
        padding-bottom: 312.5px;
    }
    
    span {
        display: none;
    }
}

@media (max-width: 500px) {
    header {
        flex-direction: column-reverse;
        gap: 22px;
    }
    .text-error h1 {
        font-size: 64px;
        font-weight: 400;
    }
    
    span {
        font-size: 64px;
        font-weight: 400;
    }

    .text-error {
        gap: 22px;
    }

}